/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/



/* Body and structure
-------------------------------------------------- */
html, body { height: 100%; }

body {
  background: #353B1A;
  position: relative;
  padding-top: 40px;

}

.head{
  background: #D94436;
  padding-bottom:2px;
}
.container{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
}
.p-home h1{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 40px;
  font-weight: normal;
  background: url('../img/logo.jpg') no-repeat 210px ;
}

.bgp3{
  background: #FD2F2F;
}
.bgp2{
  background: #FF8600;
}
.bgp1{
  background: #009999;
}
.bgp0{
  background: #009933;
}
.home-list-pending{
  margin-top: 40px;
  clear: both;
}
.home-list-pending ul{
  list-style: none;
  display: block;
  float: right;


}
.home-list-pending li{
  margin: 8px;
  font-family: Tahoma;
  font-size: 64px;
  color: white;
  float: left;
  width: 94px;
  height: 75px;
  padding-top: 13px;
  text-align: center;
  line-height: 53px; 
  vertical-align:middle;
}

.home-list-task{
  padding-top: 30px;
  clear: both;
  color: white;
}

.home-list-task ul, 
.tasklist-list-task ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-list-task .items-tasklist, 
.tasklist-list-task .items-tasklist{
  padding-left: 7px;
  list-style: none;
  border-bottom: 1px solid #C8B16C;
  padding-top:20px;
}

.edith-task .items-tasklist{
  padding-left: 0px;
  padding-top: 5px;
} 

.edith-task .items-tasklist a{
  font-size: 21px;
  color:white;
}
.edith-task .items-tasklist a:hover{
  text-decoration: none;
  color:white;
}

.edith-task .block-edit-task{
  clear: both;
  background: #EFEFEF;
  padding: 0px 20px 27px 20px;

}

.edith-task .block-edit-task .status a{

  display:block; 
  background:#D94436; 
  color:white; 
  padding:5px 10px 5px 12px;

}

.edith-task .block-edit-task .title{
  
  padding-bottom: 5px;
  margin-bottom: 1px;
  padding-top: 30px;
} 
.edith-task .block-edit-task .title textarea{

  color: #999;
  font-size: 22px;
  background: none;
  border: none;
  /*border-bottom: 2px dashed #999;*/
  display: block;
  width: 100%;
  line-height: 25px;
  padding: 0;
  padding-top: 4px;
  height:22px;
  /*outline:0px none transparent;
  -moz-appearance:none;
  outline-offset: 0;*/
  resize: none; 
}

.edith-task .block-edit-task .description{
  padding-bottom: 5px;
} 

.edith-task .block-edit-task .description textarea{
  background: none;
  border: none;
  color: #0094D5;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 5px;
  width: 100%;
  padding: 0;
  resize: none;

} 



.home-list-task h2, .tasklist-list-task h2{
  font-family: Tahoma;
  font-size: 23px;
  font-weight: normal;
}

.home-list-task h2 a, .tasklist-list-task h2 a{
  color: white;
}
.home-list-task h2 a:hover, .tasklist-list-task h2 a:hover{
  text-decoration: none;
}

.home-list-task-pending{
  float:right;
}
.home-list-task-pending ul{
  list-style: none;
  display: block;
  float: right;
}
.home-list-task-pending li{
  border:none;
  margin: 3px;
  margin-bottom: 0px;
  font-family: Tahoma;
  font-size: 20px;
  color: white;
  float: left;

  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px;

  text-align: center;
  line-height: 15px; 
  vertical-align:middle;
}

.home-list-task-pending .mini li{
    font-size: 16px;
    line-height: 10px; 
    padding: 8px;
    padding-top: 6px;
    padding-bottom: 6px;

}

#collapseMenu{
  margin-left: 0

}

#collapseMenu li{
  color: white;
  margin-top: 5px;
}

#collapseMenu li a{
  display: block;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

#collapseMenu li a:hover, #collapseMenu li a:active{
  background: #E4786E;
}


.p-tasklits h1{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 30px;
  font-weight: normal;
  background: url('../img/logo.jpg') no-repeat 210px ;
}

.tasklist-list-task{
  padding-top: 0px;
  clear: both;
  color: white;
}

.pbX{
  border: 2px solid #A8A8A8;
  background: #EFEFEF;
}

.pb3{
  border: 2px solid #F78888;
  background: #FDE3E3;
}

.pb2{
  border: 2px solid #FFA540;
  background: #FEECD3;
}

.pb1{
  border: 2px solid #00CCCC;
  background: #EAF3F7;
}

.pb0{
  border: 2px solid #37AA00;
  background: #EBFFE1;
}

.tasklist-list-task .block-priority{
  margin-top:20px;
  padding: 15px;
}


.block-priority .new-task-block{
  border: none;
  border-bottom: 2px dashed #999;
  margin-bottom: 15px;
}

.block-priority .new-task-block input{
  width: 100%;
  border: 0;
  background: none;
  font-size: 17px;
  padding-bottom: 5px;
}

.block-priority .list-task-unchecked li, .block-priority .list-task-checked li{
  margin-bottom: 10px;
  clear: both;
}

.action-check, .text-check, .comment-check, .text-checked{
  display:inline-block;
  position: relative;
  padding-right: 9px;  
}

.comment-check{
  color: #999;
  font-size: 12px;
}
.comment-check:hover{
  text-decoration: none;
}
.text-checked{
  text-decoration: line-through;
}


.block-priority .btn-task-checked{
  display: block;
  color: #999;
  font-size: 12px;
  margin-bottom: 10px;
}

.block-priority .btn-task-checked:hover{
  text-decoration: none;
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }
}