              <div class="status" style="width:100px; position:relative;float:right; right:-20px;">
              	<% if(task.status == 'finish'){ %>              	
              	<a class="finish" id="btn_change_status" data-value="<%- task.status %>" data-id="<%- task._id %>" ><i class="icon-ok icon-white"></i> Finish</a>              	
              	<% }else{ %>              
              	<a class="pending" id="btn_change_status" data-value="<%- task.status %>" data-id="<%- task._id %>"><i class="icon-minus icon-white"></i> Pending </a>              	
              	<% }%>
              </div>
              
              <div class="title" style="">
              	<textarea placeholder="Title.." ><%- task.name %></textarea>
              </div>
              
              <div class="description" style="clear:both">
                <textarea placeholder="Add description.." ><%- task.description %></textarea>
              </div>

              <div class="action">

                  <a id="btn_save" data-id="<%- task._id %>" style="padding:6px 16px 6px 10px; border:0; background:#009999; color:white; margin-top:6px; cursor:pointer"><i class="icon-thumbs-up icon-white"></i> update changes</a>

                  <a href="/#tasklist/<%- task.tasklist %>" style="padding:6px 16px 6px 10px; border:0; background:#353B1A; color:white; margin-top:6px"><i class="icon-arrow-left icon-white"></i> back</a>

              </div>