<div class="p-tasklits" >

        <h1>Oh My Task!</h1>
        

        <div class="tasklist-list-task">
            
            <ul id="list-task-home">
                
              
            </ul>

            <div class="block-priority pb3">
               
                <div class="new-task-block">
                  <input placeholder="+ Urgent and important!!1" />
                </div>

                <div>
                  <ul class="list-task-unchecked"></ul>
                </div>


                <div> 
                      <a class="btn-task-checked" href="#list-checked_3" data-toggle="collapse"></a>
                      
                      <ul class="list-task-checked accordion-body collapse" id="list-checked_3" ></ul>  
                </div>


            </div>


            <div class="block-priority pb2">
               
                <div class="new-task-block">
                  <input placeholder="+ Urgent but less important!" />
                </div>

                <div>
                  <ul class="list-task-unchecked"></ul>
                </div>


                <div> 
                      <a class="btn-task-checked" href="#list-checked_2" data-toggle="collapse"></a>
                      
                      <ul class="list-task-checked accordion-body collapse" id="list-checked_2"></ul>  
                </div>

            </div>


            <div class="block-priority pb1">
               
                <div class="new-task-block">
                  <input placeholder="+ Important but not urgent" />
                </div>

                <div>
                  <ul class="list-task-unchecked"></ul>
                </div>


                <div> 
                      <a class="btn-task-checked" href="#list-checked_1" data-toggle="collapse"></a>
                      
                      <ul class="list-task-checked accordion-body collapse" id="list-checked_1"></ul>  
                </div>
            </div>


            <div class="block-priority pb0">
               
                <div class="new-task-block">
                  <input placeholder="+ Please note :)" />
                </div>

                <div>
                  <ul class="list-task-unchecked"></ul>
                </div>


                <div> 
                      <a class="btn-task-checked" href="#list-checked_0" data-toggle="collapse"></a>
                      
                      <ul class="list-task-checked accordion-body collapse" id="list-checked_0" ></ul>  
                </div>

            </div>            

        </div>
